---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/shared/page-sections/hero-components/Hero';
import BulletStatsCard from '../components/shared/page-sections/text-components/BulletStatsCard';
import InfoCardList from '../components/shared/page-sections/text-components/InfoCardList';
import ImageByCopy from '../components/shared/page-sections/text-components/ImageByCopy';
import clockImage from '../media/Website-Page-Load-Time-Statistics-Featured.png';
import pricingImage from '../media/0306_Pricing-Consumer-Goods_Luke-Social.png';
import logo from '../media/Tulsa-Custom-Websites-1.webp';
import Cta from '../components/shared/page-sections/text-components/Cta';
import ContactSection from '../components/shared/page-sections/input-components/ContactSection';

// import type { DocumentData } from 'firebase/firestore';
// import { getData } from '../firebase';

// const data = await getData('pages', 'home');
// const pageData: DocumentData = data[0];

// no longer using the cms for this stuff cause it's faster for small scale sites
// that never need to be used by a client
// for now at least, sorry nathan
import getCollection from '../cms/getCollection';

const data = getCollection('blog');
---

<Layout
  title={'Tulsa Custom Websites'}
  metaDescription={'Custom website design and building out of Tulsa Oklahoma'}
  pageData={{ content: [] }}
>
  <h1>{data}</h1>
  <Hero
    heading='Tulsa Custom Websites'
    images={[
      'https://firebasestorage.googleapis.com/v0/b/tulsacustomwebsites.appspot.com/o/7qn2c_LaptopwithCustomWebsite.png?alt=media&token=2c3906ff-b90e-44bc-9e1b-fc4e964f0a5b',
    ]}
    subheading='Modern Website Design & Development for Any Budget'
    call_to_action_text='Hire Us!'
    call_to_action_link='#contact'
  />
  <InfoCardList
    body_text='At Tulsa Custom Websites, we specialize in digital marketing solutions to get your business seen by more potential customers:'
    heading='Take Control of Your Corner of the Internet'
    card={[
      {
        icon: 'mdi:wrench-outline',
        heading: 'Professional Web Developement',
        body_text:
          'We deliver professional web development solutions that enhance your online presence and integrate with your scheduling, inventory, and CRM systems.',
      },
      {
        icon: 'mdi:paintbrush-outline',
        heading: 'Truly Custom Web Design',
        body_text:
          'We design modern and responsive websites tailored to your business, ensuring a perfect fit for your brand.',
      },
      {
        icon: 'mdi:pencil-outline',
        heading: 'Content Writing with SEO in Mind',
        body_text:
          'We create compelling content that boosts your search engine rankings and engages your audience.',
      },
      {
        icon: 'mdi:graph-line',
        heading: 'Website Support and Analytics',
        body_text:
          'We provide continuous support and analytics to help you make data-driven decisions, ensuring your website stays up-to-date and effective.',
      },
    ]}
  />
  <ImageByCopy
    heading='True Ownership, Total Control'
    body_text='Unlike platforms like WordPress, Wix, and Squarespace, we offer you the chance to truly own your website. With no subscription to a website builder, you have complete control over the design and functionality. The only ongoing cost is a minimal server fee. By choosing us, you’re investing in a solution that offers flexibility, long-term cost savings, and complete ownership of your digital presence.'
    image='https://firebasestorage.googleapis.com/v0/b/tulsacustomwebsites.appspot.com/o/buhrg_LeaveWixSquarespaceWordpress.png?alt=media&token=d81fc601-d1c4-4801-bfbb-6051d35e0212'
    image_alt_text=''
    link_url='/our-work'
    link_text='See Our Work'
    reversed={true}
  />
  <ImageByCopy
    heading='Modern Technologies, Superior Experience'
    body_text='We use modern and effective technologies to create your website from scratch, ensuring it’s tailored exactly to your needs. Your site will be unique, efficient, and scalable, providing a superior user experience and meeting all your business goals. Making edits to your content, changing your hero image, or updating your phone number shouldn’t require hiring a web developer. With our streamlined custom content management system, you can manage your content effortlessly, giving you the freedom to make updates whenever you need.'
    image='https://firebasestorage.googleapis.com/v0/b/tulsacustomwebsites.appspot.com/o/i4q1x_transparentfirecmsmockup.png?alt=media&token=4889ebfc-6cfe-4135-ba73-70c483afbf91'
    image_alt_text=''
    link_url='#contact'
    link_text='Start Building'
  />
  <ImageByCopy
    heading='Fast Load Times, High Performance'
    bold_text='40% of online users will abandon a website that takes longer than three seconds to load.'
    body_text="That's why we prioritize fast load times and accessibility to help you reach your business objectives. Even with large photos, video, or user-interactive elements, your website will achieve high performance marks with the tools and methods we have learned over our years of experience. Everything in our design & development stack has been handpicked to make our sites faster than the competition."
    image={clockImage.src}
    image_alt_text=''
    link_url='/our-work'
    link_text='See Our Blazing Fast Sites'
    reversed={true}
  />
  <!-- TODO: add in this section -->
  <!-- <TextImagecard heading='Soft Skills'/> -->
  <BulletStatsCard
    heading='Website Pricing for Any Budget'
    body_text='From landing pages using our template components to full digital marketing packages and bespoke boutique sites with custom code, our design and development services cater to small businesses, bands, brands, and enterprises alike. * Creatives, Bands, and Brands * Small Businesses * Enterprises'
    image={pricingImage.src}
    image_alt_text=''
    link_text='Get a Quote'
    link_url='#contact'
  />
  <Cta
    content={{
      cta: 'Ready to take the next step?',
      button_text: 'Hire Us!',
      url: '#contact',
      image: logo.src,
    }}
  />
  <ContactSection
    heading='Contact Tulsa Custom Websites'
    businessEmail='hello@tulsacustomwebsites.com'
    formContent={{
      heading: 'Tell us about your next project!',
      body: `We'd love to hear about what you are working on and how we can help build it. Please fill out the form below so we can schedule a discovery interview and get started!`,
    }}
  />
</Layout>
