---
import Header from '../components/shared/Header';
import Footer from '../components/shared/Footer';
import ContactSection from '../components/shared/page-sections/input-components/ContactSection';
import { ViewTransitions } from 'astro:transitions';
import { getData } from '../firebase';
import { navs } from '../navMenu';

export interface Item {
  type: string;
  value: any;
}

interface Props {
  title: string;
  metaDescription: string;
}

const { title, metaDescription } = Astro.props;

const businessInformation = await getData('business_information');
---

<!doctype html>
<html
  lang='en'
  class='dark bg-neutral-9 font-body text-neutral-2 scroller'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={metaDescription}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap'
      rel='stylesheet'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href={businessInformation[0].favicon.favicon_32_x32}
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicon-16x16.png'
    />
    <link
      rel='manifest'
      href='/site.webmanifest'
    />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta
      name='theme-color'
      content='#ffffff'
    />
    <title>
      {
        title
          ? `${title} - ${businessInformation[0].business_name}`
          : businessInformation[0].business_name
      }
    </title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col items-center">
    <Header
      navs={navs.filter((nav) => nav.link !== '/')}
      logo={businessInformation[0].business_logo}
      client:load
    />
    <main class='flex max-w-[1500px] flex-col'>
      <slot />
    </main>
    <ContactSection
      heading='Contact Tulsa Custom Websites'
      businessEmail='hello@tulsacustomwebsites.com'
      formContent={{
        heading: 'Tell us about your next project!',
        body: `We'd love to hear about what you are working on and how we can help build it. Please fill out the form below so we can schedule a discovery interview and get started!`,
      }}
    />
    <Footer
      address={businessInformation[0].business_address}
      copyright=`${businessInformation[0].business_name} 2024`
      email={businessInformation[0].business_contact_email}
      navs={navs}
      phone={businessInformation[0].business_phone}
      socials={businessInformation[0].socials}
    />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        html {
          font-size: 62.5%;
          scroll-behavior: smooth;
          background-image: url('/public/Background.webp');
          background-position: top; /* Centers the image */
          background-repeat: no-repeat; /* Prevents repeating */
        }
        @keyframes fadeInUp {
          0% {
            opacity: 0;
            transform: translateY(20vh);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

        @keyframes slide {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-100%);
          }
        }

        .slide-animation {
          animation: slide 60s linear infinite;
        }

        .no-animation {
          animation: none;
        }

        .markdown > p {
          @apply mb-8;
        }

        .markdown > p > a,
        .markdown > ul > li > a {
          @apply text-primary-4 hover:text-primary-5 hover:underline;
        }

        .fade-in-up {
          animation: fadeInUp 0.75s ease-out;
        }
        .card-zoom {
          @apply relative overflow-hidden;
        }
        .card-zoom-image {
          @apply absolute h-full w-full transform bg-cover bg-center transition-all duration-500 ease-in-out;
        }
        .card-zoom-text {
          @apply absolute transform transition-all duration-500 ease-in-out;
        }
        .zoom-in {
          @apply scale-[1.25];
        }
        /* .margin-x-auto > *:not(:first-child) {
          margin-left: auto;
          margin-right: auto;
          @apply bg-white-1;
        } */

        h1 {
          font-size: 9.6rem;
          @apply font-teko;
        }

        .h1-sub {
          font-size: 3.2rem;
          @apply font-ubuntu-sans-mono;
        }

        h2 {
          font-size: 6.4rem;
          @apply font-teko;
        }

        .h2-sub {
          font-size: 2.4rem;
          @apply font-ubuntu-sans-mono;
        }

        h3 {
          font-size: 3.6rem;
          @apply font-teko;
        }

        .h3-sub {
          font-size: 1.6rem;
          @apply font-ubuntu-sans-mono;
        }

        button {
          font-size: 2.4rem;
          @apply font-ubuntu-condensed;
        }

        a {
          @apply transition-transform duration-fast ease-in-out;
        }

        a:hover {
          @apply scale-md;
        }

        .nav-links {
          font-size: 2rem;
          @apply font-ubuntu-sans-0 transition-transform duration-fast ease-in-out;
        }

        .nav-links:hover {
          @apply scale-md text-primary-6;
        }

        .field-label {
          @apply font-ubuntu-sans-mono;
          font-size: 2.4rem;
        }

        strong {
          font-weight: bold;
        }

        @media screen and (max-width: 768px) {
          h1 {
            font-size: 6.4rem;
          }

          .h1-sub {
            font-size: 2.4rem;
          }

          h2 {
            font-size: 4.8rem;
          }

          .h2-sub {
            font-size: 1.8rem;
          }

          .nav-links {
            font-size: 1.6rem;
          }

          .nav-links:hover {
            @apply scale-md text-primary-6;
          }

          button {
            font-size: 1.6rem;
          }
        }
      }
    </style>
  </body>
</html>
