---
import Header from '../components/shared/Header';
import Footer from '../components/shared/Footer';
import { ViewTransitions } from 'astro:transitions';
import { getData } from '../firebase';
import { navs } from '../navMenu';

export interface Item {
  type: string;
  value: any;
}

interface Props {
  title: string;
  metaDescription: string;
}

const { title, metaDescription } = Astro.props;

const businessInformation = await getData('business_information');
---

<!doctype html>
<html lang='en' class='dark bg-neutral-9 font-body text-neutral-2 scroller'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={metaDescription} />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap'
      rel='stylesheet'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href={businessInformation[0].favicon.favicon_32_x32}
    />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <meta name='msapplication-TileColor' content='#da532c' />
    <meta name='theme-color' content='#ffffff' />
    <title>
      {
        title
          ? `${title} - ${businessInformation[0].business_name}`
          : businessInformation[0].business_name
      }
    </title>
    <ViewTransitions />
  </head>
  <body>
    <Header
      navs={navs.filter((nav) => nav.link !== '/')}
      logo={businessInformation[0].business_logo}
      client:load
    />
    <main class='bg-neutral-8'>
      <slot />
    </main>
    <Footer
      address={businessInformation[0].business_address}
      copyright=`${businessInformation[0].business_name} 2024`
      email={businessInformation[0].business_contact_email}
      navs={navs}
      phone={businessInformation[0].business_phone}
      socials={businessInformation[0].socials}
    />
    <style is:global>
      @tailwind base;

      @layer base {
        @keyframes fadeInUp {
          0% {
            opacity: 0;
            transform: translateY(20vh);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

        @keyframes slide {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-100%);
          }
        }

        .slide-animation {
          animation: slide 60s linear infinite;
        }

        .no-animation {
          animation: none;
        }

        .markdown > p {
          @apply mb-8;
        }

        .markdown > p > a,
        .markdown > ul > li > a {
          @apply text-primary-md2 hover:text-primary-md3 hover:underline;
        }

        .fade-in-up {
          animation: fadeInUp 0.75s ease-out;
        }
        .card-zoom {
          @apply relative overflow-hidden;
        }
        .card-zoom-image {
          @apply absolute h-full w-full transform bg-cover bg-center transition-all duration-500 ease-in-out;
        }
        .card-zoom-text {
          @apply absolute transform transition-all duration-500 ease-in-out;
        }
        .zoom-in {
          @apply scale-[1.25];
        }
      }

      body {
        @layer text-neutral-2 font-body;
      }

      ul {
        @apply ms-8 list-disc text-base leading-loose lg:text-lg lg:leading-loose;
      }

      a {
        @apply transition-transform duration-fast ease-in-out;
      }

      a:hover {
        @apply scale-md;
      }

      strong {
        font-weight: bold;
      }

      h1 {
        @apply font-display text-4xl font-normal text-neutral-1 lg:text-8xl;
      }

      h2 {
        @apply font-display text-3xl font-normal text-neutral-1 lg:text-5xl;
      }

      h3 {
        @apply font-display text-xl font-normal text-neutral-1 lg:text-4xl;
      }

      h4 {
        @apply font-display text-lg font-light text-neutral-1 lg:text-3xl;
      }

      h5 {
        @apply font-display text-base font-light text-neutral-1 lg:text-2xl;
      }

      h6 {
        @apply font-display text-base font-light text-neutral-1 lg:text-xl;
      }

      p {
        @apply font-body text-base leading-loose lg:text-lg lg:leading-loose;
      }

      strong {
        font-weight: bold;
      }
    </style>
  </body><!-- custom animation keyframes and other global stuffs -->
</html>
